@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Cambria;
}

html {
    scroll-behavior: smooth;
}

.home {
    background: url('../images/Rubiks-cube-1.jpg');
    height: 100vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(40px);
    padding-top: 10px;
    padding-bottom: 15px;
    list-style: none;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.logo-img {
    width: 100px;
}

.logo-img img {
    width: 100%;
    border-radius: 50%;
}

.logo-text {
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 255, 0);
}

.navbar {
    font-size: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.navbar ul li a:hover {
    color: #e7ffc7;
    font-size: 16px;
    text-decoration: underline;
}

.header .navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons {
    font-size: 2.8rem;
    position: absolute;
    color: #fff;
    cursor: pointer;
    display: none;
    float: left;
    top: 90%;
    background: #1c1c1c;
    border-radius: 7px;
}

#check {
    display: none;
}

.btn-box {
    padding-right: 20px;
}

.home .btn-box .logout {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    border: 1px solid #000;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 15px;
}

.btn-box .logout span {
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-box .logout span:hover {
    color: #fff;
    letter-spacing: 1px;
}

.btn-box .logout:hover {
    background: #000;
}

.btn-box .signin {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    border: 1px solid #000;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 15px;
}

.btn-box .signup {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-box a {
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-box a:hover {
    color: #fff;
    letter-spacing: 1px;
}

.btn-box .signin:hover {
    background: #000;
}

.btn-box .signup:hover {
    background: #000;
}

.home .body {
    color: #fff;
    padding-top: 12%;
}

.home .body h2 {
    text-align: center;
    font-size: 35px;
}

.home .body h2 span {
    color: rgb(14, 255, 14);
}

.home .body h4 {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.home .body h6 {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

.home h2.join {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}

.home h2.join a {
    text-decoration: none;
    color: #fff;
}

.about-cubing {
    background: #dcdcdc;
    height: 100vh;
    width: 100%;
}

.about-cubing .title {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.about-cubing .gallery {
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-top: 40px;
}

.gallery img {
    width: 260px;
    height: 160px;
    border-radius: 25px;
    margin-right: 30px;
    border: 2px solid #fff;
    transition: 0.4s ease;
}

.gallery img:hover {
    width: 270px;
    height: 170px;
    border: 1px solid #fff;
}

.about-cubing .details {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-top: 50px;
}

.about-cubing .details details {
    margin-right: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.about-cubing .details details summary {
    font-size: 17px;
    font-weight: 400;
}

.footer {
    background: linear-gradient(to right, #327061, #048a0b);
    bottom: 0;
    font-weight: 500;
    width: 100%;
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
}

.footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .col {
    flex-basis: 25%;
    padding: 10px;
}

.footer .col:nth-child(2),
.footer .col:nth-child(3) {
    flex-basis: 15%;
}

.footer .col .logo {
    width: 80px;
    margin-bottom: 30px;
}

.footer .row .col p a {
    text-decoration: none;
    color: #fff;
}

.footer .row .col p a:hover {
    text-decoration: underline;
}

.footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.footer .col .speedcubing {
    width: fit-content;
    margin: 20px 0;
}

.footer .col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.footer .col ul li a {
    text-decoration: none;
    color: #fff;
}

.footer .col ul li a:hover {
    text-decoration: underline;
}

.footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer form i#mail {
    font-size: 18px;
    margin-right: 10px;
}

.footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer form input::placeholder{
    color: #fff;
}

.footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer form button i#arrow {
    font-size: 16px;
    color: #ccc;
}

.footer .col .social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer .col .social-icons i#facebook:hover {
    background: #1877f2;
    transform: scale(1.05);
    color: #fff;
}

.footer .col .social-icons i#youtube:hover {
    background: #ff0000;
    transform: scale(1.05);
    color: #fff;
}

.footer .col .social-icons i#insta:hover {
    background: linear-gradient(to top, #feda57, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    transform: scale(1.05);
    color: #fff;
}

.footer .col .social-icons i#twitter:hover {
    background: #1da1f2;
    transform: scale(1.05);
    color: #fff;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

@media (max-width:700px) {
    .header{
        width: 100%;
        height: auto;
    }

    .icons {
        display: inline-flex;
        color: #fff;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 135%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(62, 62, 62);
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 20rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .navbar a {
        display: block;
        font-size: .1rem;
        margin: 1.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .about-cubing {
        height: 100%;
    }

    .about-cubing .gallery{
        flex-direction: column;
        padding-left: 0%;
    }

    .about-cubing .details{
        flex-direction: column;
    }

    .about-cubing .details details{
        margin-bottom: 50px;
    }

    footer {
        bottom: unset;
    }

    .footer .col {
        flex-basis: 100%;
    }

    .footer .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}